Code
Code - OSS
GIMP/2.10
GNU Radio
Kvantum
OpenRGB
autostart
cef_user_data/Dictionaries
chromium
dconf
discord
evolution/sources
falkon/profiles
fragments
gedit
gnome-boxes/sources
gthumb
gtk-2.0
gtk-3.0
gtk-4.0
ibus/bus
libvirt/storage
menus
microsoft-edge
nautilus
nokia_proxy_config_cache
onlyoffice
pamac
pulse
qt5ct
qt6ct
ranger
remmina
session
teams-for-linux
totem
touchegg
wireshark
yuzu
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
QtProject.conf
gnome-layout-switcher.conf
kdiff3rc
manjaro-hello.json
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
lazygit/state.yml
Electron
GitKraken
Moonlight Game Streaming Project
Slack
TabNine
Unknown Organization
balena-etcher
dosbox-x
freerdp
geary/goa_account_1643733292_0
gnome-control-center/backgrounds
goa-1.0
helm
hexchat
lapce
lutris
lvim
manjaro
plex.tv
syncthing
system-monitoring-center
torrential
unity3d
vlc
worksets@blipk.xyz
yarn/global
yelp
Trolltech.conf
retroarch
zoomus.conf
systemd/user
